<div class="row">
  <div class="col-md-9 col-md-push-3">
        
        <h1 class="text-center">Enter your Text, URL or article for analysis</h1>
        <h2 class="text-center">And see your results below , these is it how it works</h2>
          <div class="well">
            
          </div>
          
       
        
  </div>         
  
  <div class="col-md-3 col-md-pull-9">
    <br>
    <br>
   <h2 class="text-center">Select your type</h2></h2>
    <br>
    <div class="list-group">
      <%= link_to "Sentiment Analysis", sentiments_path(current_user), class:"list-group-item" %>
      <%= link_to "Article Extraction", entityrecognizers_path(current_user), class:"list-group-item" %>
      <%= link_to "Pos Tagging", postaggers_path(current_user), class:"list-group-item" %>
      <%= link_to "Spell Checker", spellcheckings_path(current_user), class:"list-group-item" %>
      <% if current_user.plan_id == 2 %>
      <%= link_to "Noun Phrase Extraction", nounphrasesextractions_path(current_user), class:"list-group-item" %>
      <%= link_to "Stemmer",stemmers_path(current_user), class:"list-group-item" %>
      <%= link_to "Classification by Taxanomy", "#", class:"list-group-item" %>
      <%= link_to "Semantic Labeling", "#", class:"list-group-item" %>
      <%= link_to "Related Phrases", "#", class:"list-group-item" %>
      <%= link_to "Language Detection", "#", class:"list-group-item" %>
      <%= link_to "Part-of-Speech", "#", class:"list-group-item" %>
      <% end %>
    </div>
  </div>
  
</div>   